.github/**
.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/bun.lock
out/test/**
images/**

node_modules/jieba-wasm/pkg/deno/
node_modules/jieba-wasm/pkg/web/
node_modules/jieba-wasm/pkg/bundler/